.container-servicos {
    margin: 4rem 0;
    padding: 1rem 1.5rem;
}

.container-servicos section {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.icon img {
    width: 100%;
}

.servico {
    display: flex;
}

.info h6 {
    font-size: 1.1rem;
}

.info p {
    font-size: 0.9rem;
}